# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# macOS
.DS_Store

# 환경설정
.env
.env.*

# 빌드 결과물
/dist
/build
/public

# Sass 캐시
.sass-cache/
*.css.map

# 기타
*.log
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# 이미지/폰트 등 바이너리 파일 무시 예시 (필요시 추가)
# /src/fonts/
# /src/images/ 
/fonts
/images
/css
/js
/library