@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.module-card {
    max-width: rem(350);
    width: 100%;
    a.module-card__wrapper:hover {
        .module-card__image {
            img {
                transform: translate(-50%, -50%) scale(1.05);
            }
        }
        .module-card__title {
            color: $color-primary-hover;
        }
    }
    &__wrapper {
        display: block;
        transition: transform 0.3s ease;
    }
    &__image {
        padding-top: 68.57%;
        margin-bottom: rem(22);
        background-color: $color-gray-100;
        @include card-radius(18);
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: transform 0.3s ease;
        }
    }
    &__category {
        min-width: rem(66);
        height: rem(34);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: rem(8) rem(12);
        margin-bottom: rem(15);
        border-radius: rem(100);
        border: 1px solid $color-gray-900;
        font-family: $font-nanum-gothic;
        font-size: rem(15);
        line-height: 1;
        color: $color-gray-900;
    }
    &__title {
        margin-bottom: rem(12);
        font-family: $font-nanum-square;
        font-size: rem(25);
        line-height: 1;
        @include ellipsis;
        color: $color-black;
        transition: color 0.3s ease;
    }
    &__desc {
        @include multi-ellipsis(2);
        font-family: $font-nanum-gothic;
        font-weight: 300;
        font-size: rem(14);
        line-height: lh(24);
        color: $color-gray-400;
    }
    &__dep {
        height: rem(36);
        display: flex;
        align-items: center;
        padding-left: rem(47);
        margin-top: rem(28);
        background-image: url(../images/dep-logo.png);
        background-size: rem(36);
        background-position: 0 0;
        background-repeat: no-repeat;
        font-family: $font-nanum-gothic;
        font-size: rem(15);
        line-height: 1;
        @include ellipsis;
    }
}

.video-card__list {
    display: flex;
    justify-content: center;
    gap: 0 rem(40);
}

.video-card {
    width: rem(340);
    transition:
        box-shadow 0.3s ease,
        transform 0.3s ease,
        background-color 0.3s ease,
        color 0.3s ease;
    a.video-card__wrapper:hover {
        .video-card__thumb {
            img {
                transform: translate(-50%, -50%) scale(1.05);
            }
        }
        .video-card__title {
            color: $color-primary-hover;
        }
    }
    &__wrapper {
        display: block;
        transition: transform 0.3s ease;
    }
    &__thumb {
        width: 100%;
        padding-top: 120.59%;
        margin-bottom: rem(20);
        @include card-radius(18);
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: transform 0.3s ease;
        }
    }
    &__time {
        display: inline-flex;
        align-items: center;
        gap: 0 rem(7);
        padding: rem(9) rem(15);
        border-radius: rem(100);
        background-color: $color-dark;
        font-family: $font-nanum-square;
        font-weight: 700;
        font-size: rem(16);
        line-height: 1;
        color: $color-white;
        position: absolute;
        top: rem(19);
        left: rem(22);
        .dot {
            width: rem(8);
            height: rem(8);
            display: block;
            border-radius: 50%;
            background-color: $color-orange;
        }
    }
    &__logo {
        width: rem(55);
        height: rem(55);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        svg {
            width: 100%;
            height: 100%;
            fill: $color-white;
        }
    }
    &__title {
        font-family: $font-nanum-square;
        font-size: rem(20);
        line-height: rem(30);
        text-align: center;
        color: $color-black;
        transition: color 0.3s ease;
    }
    &:hover,
    &:focus {
        transition:
            box-shadow 0.3s ease,
            transform 0.3s ease,
            background-color 0.3s ease,
            color 0.3s ease;
    }
}

@media (max-width: 900px) {
    .video-card__list {
        flex-direction: column;
        align-items: center;
        gap: rem(40) 0;
    }
}

@media (max-width: 725px) {
    .module-card {
        max-width: rem(260);
        &__image {
            margin-bottom: rem(17);
            @include card-radius(16);
        }
        &__category {
            min-width: rem(60);
            height: rem(30);
            padding: rem(6) rem(10);
            margin-bottom: rem(15);
            font-size: rem(13);
        }
        &__title {
            margin-bottom: rem(7);
            font-size: rem(19);
        }
        &__desc {
            font-size: rem(12);
            line-height: lh(22);
        }
        &__dep {
            height: rem(30);
            padding-left: rem(36);
            margin-top: rem(18);
            background-size: rem(30);
            font-family: $font-nanum-gothic;
            font-size: rem(13);
        }
    }

    .video-card__list {
        gap: rem(20) 0;
    }

    .video-card {
        width: rem(260);
        &__thumb {
            margin-bottom: rem(15);
            @include card-radius(16);
        }
        &__time {
            gap: 0 rem(4);
            padding: rem(7) rem(11);
            font-size: rem(12);
            line-height: rem(10);
            top: rem(14);
            left: rem(17);
            .dot {
                width: rem(6);
                height: rem(6);
            }
        }
        &__logo {
            width: rem(45);
            height: rem(45);
        }
        &__title {
            font-size: rem(16);
            line-height: rem(26);
        }
    }
}
