@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.list {
    &--type-1 {
        .list__list {
            display: flex;
            justify-content: center;
            gap: rem(60);
            .list__item-wrap {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: $color-black;
                transition: color 0.3s ease;
                &:hover,
                &:focus {
                    color: $color-primary;
                    .list__item-logo {
                        background-color: $color-primary;
                        svg {
                            fill: $color-white;
                        }
                    }
                }
            }
            .list__item-logo {
                width: rem(120);
                height: rem(120);
                @include flex-center;
                margin-bottom: rem(17);
                border-radius: 50%;
                background-color: $color-blue-light;
                transition: background-color 0.3s ease;
                svg {
                    fill: $color-primary;
                    transition: fill 0.3s ease;
                }
            }
            .list__item-title {
                font-family: $font-nanum-square;
                font-weight: 700;
                font-size: rem(18);
                line-height: lh(24);
                text-align: center;
            }
        }
    }
    &-numeric {
        &__item {
            &:not(:last-child) {
                margin-bottom: rem(30);
            }
            &-title {
                display: flex;
                gap: 0 rem(8);
                margin-bottom: rem(20);
                p {
                    font-family: $font-nanum-square;
                    font-weight: 700;
                    font-size: rem(20);
                    line-height: lh(34);
                    color: $color-primary;
                }
            }
            &-num {
                width: rem(34);
                height: rem(34);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: $color-primary;
                font-family: $font-nanum-square;
                font-size: rem(16);
                line-height: rem(15);
                color: $color-white;
            }
        }
    }

    &-plus {
        li {
            padding-left: rem(18);
            font-family: $font-nanum-square;
            font-size: rem(18);
            line-height: lh(30);
            color: $color-primary;
            position: relative;
            &::before {
                content: "";
                width: rem(10);
                height: rem(10);
                background-image: url(../images/subpage/plus.png);
                background-size: cover;
                background-position: center;
                position: absolute;
                top: rem(10);
                left: 0;
            }
        }
    }

    &-boxes {
        display: flex;
        flex-direction: column;
        gap: rem(6) 0;
        &--flex {
            display: flex;
            flex-direction: row;
            gap: 0 rem(10);
            .list-boxes__item {
                flex: 1;
            }
        }
        &__item {
            padding: rem(17) rem(20);
            border-radius: rem(10);
            background-color: #e7f5fd;
            p {
                font-family: $font-nanum-square;
                font-size: rem(18);
                line-height: lh(26);
                color: $color-primary;
            }
            &--flex {
                height: rem(120);
                display: flex;
                justify-content: center;
                align-items: center;
                padding: rem(20);
                border-radius: rem(20);
                text-align: center;
            }
        }
    }

    &-box {
        padding: rem(14) rem(20);
        border-radius: rem(20);
        li {
            padding-left: rem(12);
            font-family: $font-nanum-square;
            font-size: rem(18);
            line-height: lh(30);
            color: $color-primary;
            position: relative;
            &::before {
                content: "";
                width: rem(4);
                height: rem(4);
                border-radius: 50%;
                background-color: $color-primary;
                position: absolute;
                top: rem(13);
                left: 0;
            }
        }
        &--flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 0 rem(20);
            background-color: #e7f5fd;
            li {
                width: calc(50% - #{rem(10)});
            }
        }
        &--gray {
            background-color: #f3f3f3;
        }
    }
}
