@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.round-title {
    display: inline-block;
    padding: rem(17) rem(30);
    font-family: $font-nanum-square;
    font-weight: 700;
    font-size: rem(20);
    line-height: 1;
    border-radius: rem(100);
    border: rem(3) solid $color-black;
    color: $color-black;
    &.round-title--white {
        border-color: $color-white;
        color: $color-white;
    }
}

.round-title--bg {
    display: inline-block;
    padding: rem(16) rem(26);
    border-radius: rem(100);
    background-color: $color-primary;
    font-family: $font-nanum-square;
    font-size: rem(18);
    line-height: 1;
    color: $color-white;
    span {
        color: $color-yellow-bright;
    }
}

.round-row-title {
    text-align: center;
    margin-bottom: rem(20);
    span {
        display: inline-block;
        padding: rem(16) rem(18);
        border-radius: rem(100);
        background-color: $color-white;
        font-family: $font-nanum-square;
        font-weight: 700;
        font-size: rem(18);
        line-height: 1;
        color: $color-black;
    }
    &--bg {
        span {
            background-color: #5b76ed;
            color: $color-white;
        }
    }
}

.round-category {
    display: inline-block;
    padding: rem(11) rem(18);
    border-radius: rem(100);
    background-color: $color-primary;
    font-family: $font-nanum-square;
    font-weight: 700;
    font-size: rem(18);
    line-height: 1;
    color: $color-white;
    &-outline {
        display: inline-block;
        padding: rem(10) rem(17);
        border-radius: rem(100);
        border: 1px solid $color-primary;
        font-family: $font-nanum-square;
        font-weight: 700;
        font-size: rem(18);
        line-height: 1;
        color: $color-primary;
        &--thick {
            display: inline-block;
            border-radius: rem(100);
            border: rem(3) solid $color-primary;
            padding: rem(9) rem(15);
            font-family: $font-nanum-square;
            font-weight: 700;
            font-size: rem(18);
            line-height: 1;
            letter-spacing: -0.02em;
            color: $color-primary;
        }
        &--gray {
            display: inline-block;
            padding: rem(11) rem(18);
            border-radius: rem(100);
            border: 1px solid #cccccc;
            font-family: $font-nanum-square;
            font-size: rem(16);
            line-height: 1;
            color: $color-primary;
        }
    }
}

@media (max-width: 725px) {
    .round-title {
        padding: rem(14) rem(20);
        font-size: rem(16);
    }

    .round-title--bg {
        padding: rem(13) rem(16);
        font-size: rem(14);
    }

    .round-row-title {
        margin-bottom: rem(15);
        span {
            padding: rem(13) rem(15);
            font-size: rem(14);
        }
    }

    .round-category {
        padding: rem(8) rem(13);
        font-size: rem(14);
        &-outline {
            padding: rem(7) rem(12);
            font-size: rem(14);
            &--thick {
                border: rem(2) solid $color-primary;
                padding: rem(8) rem(10);
                font-size: rem(14);
            }
            &--gray {
                padding: rem(8) rem(13);
                font-size: rem(14);
            }
        }
    }
}
