@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

#wrap {
    max-width: rem(1920);
    margin: 0 auto;
    position: relative;
}

.site-content {
    padding-left: rem(280);
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
