// Arial
@font-face {
    font-family: "Arial Black";
    src:
        url("../fonts/arial/Arial-Black.woff2") format("woff2"),
        url("../fonts/arial/Arial-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

// S-Core Dream
@font-face {
    font-family: "S-CoreDream";
    src:
        url("../fonts/s-core-dream/S-CoreDream-1Thin.woff2") format("woff2"),
        url("../fonts/s-core-dream/S-CoreDream-1Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "S-CoreDream";
    src:
        url("../fonts/s-core-dream/S-CoreDream-2ExtraLight.woff2") format("woff2"),
        url("../fonts/s-core-dream/S-CoreDream-2ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "S-CoreDream";
    src:
        url("../fonts/s-core-dream/S-CoreDream-3Light.woff2") format("woff2"),
        url("../fonts/s-core-dream/S-CoreDream-3Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "S-CoreDream";
    src:
        url("../fonts/s-core-dream/S-CoreDream-4Regular.woff2") format("woff2"),
        url("../fonts/s-core-dream/S-CoreDream-4Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "S-CoreDream";
    src:
        url("../fonts/s-core-dream/S-CoreDream-5Medium.woff2") format("woff2"),
        url("../fonts/s-core-dream/S-CoreDream-5Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "S-CoreDream";
    src:
        url("../fonts/s-core-dream/S-CoreDream-6Bold.woff2") format("woff2"),
        url("../fonts/s-core-dream/S-CoreDream-6Bold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "S-CoreDream";
    src:
        url("../fonts/s-core-dream/S-CoreDream-7ExtraBold.woff2") format("woff2"),
        url("../fonts/s-core-dream/S-CoreDream-7ExtraBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "S-CoreDream";
    src:
        url("../fonts/s-core-dream/S-CoreDream-8Heavy.woff2") format("woff2"),
        url("../fonts/s-core-dream/S-CoreDream-8Heavy.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "S-CoreDream";
    src:
        url("../fonts/s-core-dream/S-CoreDream-9Black.woff2") format("woff2"),
        url("../fonts/s-core-dream/S-CoreDream-9Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

// Nanum Gothic
@font-face {
    font-family: "NanumGothic";
    src:
        url("../fonts/nanum-gothic/NanumGothic.woff2") format("woff2"),
        url("../fonts/nanum-gothic/NanumGothic.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "NanumGothic";
    src:
        url("../fonts/nanum-gothic/NanumGothicBold.woff2") format("woff2"),
        url("../fonts/nanum-gothic/NanumGothicBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "NanumGothic";
    src:
        url("../fonts/nanum-gothic/NanumGothicExtraBold.woff2") format("woff2"),
        url("../fonts/nanum-gothic/NanumGothicExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

// Nanum Square
@font-face {
    font-family: "NanumSquareAc";
    src:
        url("../fonts/nanumSquare/NanumSquareAcL.woff2") format("woff2"),
        url("../fonts/nanumSquare/NanumSquareAcL.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "NanumSquareAc";
    src:
        url("../fonts/nanumSquare/NanumSquareAcR.woff2") format("woff2"),
        url("../fonts/nanumSquare/NanumSquareAcR.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "NanumSquareAc";
    src:
        url("../fonts/nanumSquare/NanumSquareAcB.woff2") format("woff2"),
        url("../fonts/nanumSquare/NanumSquareAcB.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "NanumSquareAc";
    src:
        url("../fonts/nanumSquare/NanumSquareAcEB.woff2") format("woff2"),
        url("../fonts/nanumSquare/NanumSquareAcEB.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}
