@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.major {
    &__subvisual {
        height: rem(740);
        padding: rem(140) rem(60) 0;
        background-color: #bbbbbb;
        &__container {
            height: 100%;
            padding-top: rem(130);
            padding-bottom: rem(140);
            text-align: center;
            position: relative;
            .btn-homepage {
                position: absolute;
                bottom: rem(66);
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &__college-name {
            display: inline-block;
            padding: rem(16) rem(18);
            margin-bottom: rem(20);
            border-radius: rem(100);
            background-color: $color-white;
            font-family: $font-nanum-square;
            font-weight: 700;
            font-size: rem(18);
            line-height: 1;
            color: $color-primary;
        }
        &__title {
            margin-bottom: rem(9);
            font-family: $font-nanum-square;
            font-weight: 800;
            font-size: rem(50);
            line-height: lh(60);
            color: $color-white;
            &--en {
                font-family: $font-nanum-square;
                font-weight: 400;
                font-size: rem(14);
                line-height: lh(24);
                letter-spacing: -0.02em;
                color: $color-white;
            }
        }
    }
    &__container {
        padding: rem(100) rem(60) rem(160);
        .tab-list {
            margin-bottom: rem(90);
        }
    }
    &__btns {
        display: flex;
        justify-content: center;
        gap: 0 rem(6);
    }
}

.major-introduce {
    max-width: rem(1120);
    margin: 0 auto rem(70);
    &__row {
        display: flex;
        gap: 0 rem(40);
        &:first-child {
            .major-introduce__row__title {
                border-top: 1px solid $color-primary;
            }
            .major-introduce__row__content {
                border-top: 1px solid $color-primary;
            }
        }
        &__title {
            width: rem(340);
            padding: rem(60) 0;
            border-bottom: 1px solid $color-primary;
            p {
                padding: rem(6) 0 rem(68);
                font-family: $font-nanum-square;
                font-size: rem(38);
                line-height: lh(44);
                color: $color-primary;
                position: relative;
                b {
                    font-weight: 800;
                }
                &::before {
                    content: "";
                    width: rem(70);
                    height: rem(40);
                    background-image: url(../images/subpage/button.png);
                    background-size: cover;
                    background-position: center;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }
        &__content {
            flex: 1;
            padding: rem(60) 0;
            border-bottom: 1px solid $color-primary;
        }
    }
    &__section {
        &:not(:last-child) {
            margin-bottom: rem(45);
        }
        &:has(.list-numeric) {
            p.major-introduce__section__title,
            div.major-introduce__section__title {
                margin-bottom: rem(22);
            }
        }
        p.major-introduce__section__title,
        div.major-introduce__section__title {
            margin-bottom: rem(15);
        }
        p.major-introduce__section__title {
            font-family: $font-nanum-square;
            font-weight: 800;
            font-size: rem(26);
            line-height: lh(44);
            color: $color-primary;
        }
        div.major-introduce__section__title {
            display: flex;
            gap: 0 rem(10);
            .label {
                margin-top: rem(2);
            }
            p {
                flex: 1;
                font-family: $font-nanum-square;
                font-weight: 800;
                font-size: rem(26);
                line-height: lh(44);
                color: $color-primary;
            }
        }
    }
}

.module-introduce {
    margin-bottom: rem(70);
    .label {
        height: auto;
        padding: rem(8) rem(11);
        border-radius: rem(100);
        font-size: rem(14);
    }
    .round-category-list {
        display: flex;
        flex-wrap: wrap;
        gap: rem(8) rem(6);
        margin-bottom: rem(10);
    }
    &__top,
    &__body {
        display: flex;
        gap: 0 rem(40);
    }
    &__section {
        &:not(:last-child) {
            margin-bottom: rem(35);
        }
        &-title {
            margin-bottom: rem(15);
            font-family: $font-nanum-square;
            font-weight: 800;
            font-size: rem(22);
            line-height: lh(32);
            color: $color-primary;
        }
    }
    &__title {
        width: rem(340);
        padding: rem(60) 0;
        border-top: 1px solid $color-primary;
        border-bottom: rem(3) solid $color-primary;
        .round-category-outline--thick {
            margin-bottom: rem(14);
        }
        p {
            font-family: $font-nanum-square;
            font-weight: 800;
            font-size: rem(32);
            line-height: lh(44);
            color: $color-primary;
        }
    }
    &__desc {
        flex: 1;
        padding: rem(60) 0;
        border-top: 1px solid $color-primary;
        border-bottom: rem(3) solid $color-primary;
        p {
            font-family: $font-nanum-square;
            font-size: rem(20);
            line-height: lh(30);
            color: $color-primary;
        }
    }
    &__core {
        width: rem(340);
        padding: rem(60) 0;
        border-top: 1px solid $color-primary;
        border-bottom: 1px solid $color-primary;
        &-title {
            padding-left: rem(22);
            margin-bottom: rem(20);
            font-family: $font-nanum-square;
            font-weight: 700;
            font-size: rem(20);
            line-height: 1;
            color: $color-primary;
            position: relative;
            &::before {
                content: "";
                width: rem(12);
                height: rem(12);
                border-radius: 50%;
                background-color: #2ce3f1;
                position: absolute;
                top: rem(4);
                left: 0;
            }
        }
        &-list {
            display: flex;
            flex-wrap: wrap;
            gap: rem(8) rem(6);
        }
    }
    &__content {
        flex: 1;
        padding: rem(60) 0;
        border-top: 1px solid $color-primary;
        border-bottom: 1px solid $color-primary;
    }
}

.status-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: rem(20);
    border-radius: rem(20);
    border: 1px solid $color-primary;
    overflow: hidden;
    &__item {
        &:not(:nth-child(3n)) {
            border-right: 1px solid $color-gray-200;
        }
        &:nth-child(-n + 3) {
            border-bottom: 1px solid $color-gray-200;
        }
        &-wrap {
            height: rem(245);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: rem(22) 0;
            padding: rem(30) rem(20) rem(40);
        }
        &-logo {
            display: block;
            svg {
                width: 100%;
                height: 100%;
                fill: $color-primary;
            }
            &[data-logo="status-1"] {
                width: rem(34);
                height: rem(34);
            }
            &[data-logo="status-2"] {
                width: rem(31);
                height: rem(33);
            }
            &[data-logo="status-3"] {
                width: rem(20);
                height: rem(34);
            }
            &[data-logo="status-4"] {
                width: rem(30);
                height: rem(30);
            }
            &[data-logo="status-5"] {
                width: rem(32);
                height: rem(29);
            }
        }
        &-title {
            width: rem(96);
            height: rem(96);
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: rem(8) 0;
            align-items: center;
            border-radius: 50%;
            background-color: #f3f3f3;
            p {
                font-family: $font-nanum-square;
                font-weight: 800;
                font-size: rem(18);
                line-height: 1;
                color: $color-primary;
            }
        }
        &--empty {
            .status-box__item-wrap {
                background-color: #f3f3f3;
                background-image: url(../images/subpage/status-empty.png);
                background-size: rem(85);
                background-position: 50% 50%;
                background-repeat: no-repeat;
            }
        }
    }
    .status-list {
        width: 100%;
        display: flex;
        gap: 0 1px;
        li {
            min-width: rem(99);
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: rem(21) 0;
            padding: 0 rem(15);
            position: relative;
            &:not(:last-child) {
                &::before {
                    content: "";
                    width: 1px;
                    height: 100%;
                    background-color: $color-gray-200;
                    position: absolute;
                    top: 0;
                    right: -1px;
                }
            }
            .title {
                font-family: $font-nanum-square;
                font-weight: 700;
                font-size: rem(18);
                line-height: 1;
                color: $color-primary;
            }
            .check {
                width: rem(20);
                height: rem(20);
                display: block;
                border-radius: 50%;
                background-color: #eeeeee;
                &.check--checked {
                    background-color: $color-primary;
                }
            }
        }
    }
}
