$font-nanum-gothic: "NanumGothic", sans-serif;
$font-arial-black: "Arial Black", sans-serif;
$font-s-core-dream: "S-CoreDream", sans-serif;
$font-nanum-square: "NanumSquareAc", sans-serif;

$font-main: $font-nanum-gothic;

$color-primary: #00467f;
$color-primary-hover: #1976d2;
