$font-nanum-gothic: "NanumGothic", sans-serif;
$font-arial-black: "Arial Black", sans-serif;
$font-s-core-dream: "S-CoreDream", sans-serif;
$font-nanum-square: "NanumSquareAc", sans-serif;

$font-main: $font-nanum-gothic;

$color-primary: #00467f;
$color-primary-hover: #1976d2;

// 공통 색상 변수
$color-gray-100: #eeeeee;
$color-gray-200: #dddddd;
$color-gray-300: #cccccc;
$color-gray-400: #888888;
$color-gray-900: #111111;
$color-orange: #ff4e00;
$color-blue-800: #240ef0;
$color-blue-700: #2342ff;
$color-black: #191919;
$color-white: #ffffff;
$color-green: #06961e;
$color-red: #f31119;
$color-yellow: #ffd600;
$color-blue-100: #00467f;
$color-blue-200: #1976d2;
$color-dark: #292a2a;
$color-placeholder: #777777;
