@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:color";

.site-footer {
    &__top,
    &__bottom {
        display: flex;
        gap: 0 rem(50);
        padding-left: rem(60);
        padding-right: rem(60);
    }
    &__top {
        min-height: rem(720);
        padding-top: rem(100);
        padding-bottom: rem(100);
        background-color: $color-black;
    }
    &__bottom {
        min-height: rem(140);
        @include flex-between;
        background-color: $color-blue-800;
    }
    &__brand {
        width: calc(100% - #{rem(635)});
        padding-left: rem(35);
    }
    &__info {
        width: rem(635);
        padding-right: rem(55);
        hr {
            margin-top: rem(50);
            margin-bottom: rem(55);
        }
        &-desc {
            p {
                font-family: $font-nanum-square;
                font-weight: 700;
                font-size: rem(26);
                line-height: lh(36);
                color: $color-white;
                word-break: keep-all;
                span {
                    color: $color-blue-800;
                }
            }
        }
        &-list {
            display: flex;
            margin-bottom: rem(64);
            li {
                flex: 1;
                p {
                    font-family: $font-nanum-gothic;
                    line-height: 1;
                    letter-spacing: -0.02em;
                    word-break: keep-all;
                    color: $color-white;
                    &.title {
                        margin-bottom: rem(18);
                        font-weight: 700;
                        font-size: rem(16);
                    }
                    &.desc {
                        font-size: rem(14);
                        line-height: lh(26);
                    }
                }
            }
        }
    }
    &__family {
        width: 100%;
        max-width: rem(340);
        position: relative;
        &.site-footer__family--active {
            ul {
                transform: scaleY(1);
            }
        }
        ul {
            width: 100%;
            padding: rem(10);
            border-radius: rem(8);
            border: 1px solid $color-white;
            background-color: $color-black;
            position: absolute;
            bottom: calc(100% + #{rem(10)});
            transform: scaleY(0);
            transform-origin: bottom;
            transition: transform 0.3s ease;
            li {
                a {
                    transition: color 0.3s ease;
                    display: block;
                    padding: rem(7) rem(8);
                    font-family: $font-nanum-gothic;
                    font-size: rem(14);
                    line-height: 1;
                    color: $color-white;
                    &:hover,
                    &:focus {
                        color: $color-primary-hover;
                    }
                }
            }
        }
    }
    &__link-list {
        display: flex;
        gap: 0 rem(1);
        padding-left: rem(19);
        li {
            a {
                transition: color 0.3s ease;
                display: block;
                padding: rem(16);
                font-family: $font-nanum-gothic;
                font-weight: 700;
                font-size: rem(16);
                line-height: 1;
                color: $color-white;
                &:hover {
                    color: color.adjust($color-white, $lightness: -20%);
                }
            }
            &:not(:last-child) {
                position: relative;
                &::after {
                    content: "";
                    width: rem(1);
                    height: rem(14);
                    background-color: $color-white;
                    position: absolute;
                    top: 50%;
                    right: rem(-1);
                    transform: translateY(-50%);
                }
            }
        }
    }
    &__copyright {
        padding-right: rem(55);
        font-family: $font-nanum-gothic;
        font-size: rem(14);
        line-height: 1;
        color: $color-white;
    }
}

// @media (max-width: 1650px) {
//     .site-footer {
//         &__brand {
//             padding-left: 0;
//             p {
//                 font-size: rem(100);
//                 line-height: lh(83);
//             }
//         }
//         &__info {
//             width: rem(580);
//             padding: rem(7) 0;
//         }
//         &__link-list {
//             padding-left: 0;
//             margin-left: rem(-16);
//         }
//         &__copyright {
//             padding-right: 0;
//         }
//     }
// }

@media (max-width: 1600px) {
    .site-footer {
        &__top {
            flex-direction: column;
            gap: rem(80) 0;
        }
        &__brand {
            width: 100%;
            padding: 0 rem(35);
            img {
                width: rem(450);
            }
        }
        &__info {
            width: 100%;
            padding: 0 rem(35);
        }
    }
}

@media (max-width: 900px) {
    .site-footer {
        &__top,
        &__bottom {
            padding-left: rem(40);
            padding-right: rem(40);
        }
        &__brand {
            padding: 0;
        }
        &__info {
            padding: 0;
        }
        &__link-list {
            margin-left: rem(-16);
            padding-left: 0;
        }
        &__copyright {
            padding-right: 0;
        }
    }
}

@media (max-width: 720px) {
    .site-footer {
        &__top,
        &__bottom {
            padding-left: rem(20);
            padding-right: rem(20);
        }
        &__top {
            min-height: rem(635);
            gap: rem(40) 0;
            padding-top: rem(60);
            padding-bottom: rem(60);
        }
        &__bottom {
            min-height: auto;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: rem(10) 0;
            padding: rem(36) rem(20) rem(50);
        }
        &__brand {
            padding: 0;
            img {
                width: rem(250);
            }
        }
        &__info {
            hr {
                margin-top: rem(30);
                margin-bottom: rem(35);
            }
            &-desc {
                p {
                    font-size: rem(18);
                    line-height: lh(28);
                }
            }
            &-list {
                flex-direction: column;
                gap: rem(20) 0;
                margin-bottom: rem(34);
                li {
                    p {
                        &.title {
                            margin-bottom: rem(8);
                            font-size: rem(14);
                        }
                        &.desc {
                            font-size: rem(12);
                            line-height: lh(24);
                        }
                    }
                }
            }
        }
        &__family {
            max-width: rem(200);
            ul {
                li {
                    a {
                        padding: rem(7) 0;
                        font-size: rem(12);
                    }
                }
            }
        }
        &__link-list {
            padding-left: 0;
            margin-left: rem(-10);
            li {
                a {
                    padding: rem(14) rem(10);
                    font-size: rem(12);
                }
            }
        }
        &__copyright {
            padding-right: 0;
            font-size: rem(12);
        }
    }
}
