@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.site-side {
    width: rem(280);
    height: 100vh;
    padding: rem(50) rem(40) rem(30);
    border-right: 1px solid $color-gray-200;
    background-color: $color-white;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    z-index: 10;
    transition: left 0.3s ease;

    &::-webkit-scrollbar {
        display: none;
    }

    &__container {
        height: 100%;
    }

    &__top {
        display: none;
        justify-content: space-between;
        .btn-close {
            margin-left: rem(-10);
        }
    }

    &__body {
        margin-bottom: rem(85);
    }

    &__caption {
        padding: 0 rem(9);
        font-family: $font-nanum-square;
        font-size: rem(14);
        line-height: lh(24);
        color: $color-primary;
    }

    .site-logo {
        margin-bottom: rem(75);
        &__wrapper {
            @include flex-center;
            flex-direction: column;
            gap: rem(10) 0;
            align-items: center;
        }
    }
}

.lnb {
    margin-bottom: rem(32);
    &__item {
        & > a {
            display: block;
            color: $color-primary;
            transition: color 0.3s ease;
            &:hover,
            &:focus {
                color: $color-primary-hover;
            }
            p {
                padding: rem(16) 0 rem(16) rem(39);
                background-repeat: no-repeat;
                background-position: rem(3) 50%;
                font-family: $font-nanum-square;
                font-weight: 800;
                font-size: rem(19);
                line-height: 1;
            }
        }
        &-0 {
            & > a {
                p {
                    background-image: url(../images/lnb-icon-5-new.png);
                    background-size: rem(20);
                }
            }
        }
        &-1 {
            & > a {
                p {
                    background-image: url(../images/lnb-icon-1-new.png);
                    background-size: rem(24);
                }
            }
        }
        &-2 {
            & > a {
                p {
                    background-image: url(../images/lnb-icon-2-new.png);
                    background-size: rem(20);
                }
            }
        }
        &-3 {
            & > a {
                p {
                    background-image: url(../images/lnb-icon-3-new.png);
                    background-size: rem(21);
                }
            }
        }
        &-4 {
            & > a {
                p {
                    background-image: url(../images/lnb-icon-4-new.png);
                    background-size: rem(20);
                }
            }
        }
    }
}

.gnb {
    padding: rem(30) 0;
    margin-bottom: rem(35);
    border-top: 1px solid $color-gray-100;
    border-bottom: 1px solid $color-gray-100;
    &__item {
        a {
            display: block;
            padding: rem(11) rem(28) rem(11) rem(38);
            font-family: $font-nanum-square;
            font-weight: 400;
            font-size: rem(16);
            line-height: 1;
            color: $color-primary;
            position: relative;
            transition: color 0.3s ease;
            &:hover,
            &:focus {
                color: $color-primary-hover;
            }
            &::before {
                content: "";
                width: rem(10);
                height: rem(10);
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: rem(10);
                transform: translateY(-50%);
            }
        }
        &-0 {
            a::before {
                background-color: $color-blue-700;
            }
        }
        &-1 {
            a::before {
                background-color: $color-green;
            }
        }
        &-2 {
            a::before {
                background-color: $color-orange;
            }
        }
    }
}

@media (max-width: 1400px) {
    .site-side {
        width: 100%;
        padding: rem(50) rem(60);
        border-right: none;
        left: -100%;
        transition: left 0.3s ease;

        &.site-side--active {
            left: 0;
        }

        &__container {
            .btn-top {
                display: none;
            }
        }

        &__top {
            display: flex;
            margin-bottom: rem(60);
        }

        &__body {
            max-width: rem(400);
            margin: 0 auto;
        }

        &__caption {
            padding: 0 rem(9);
            margin-bottom: 0;
            text-align: center;
            br {
                display: none;
            }
        }

        .site-logo {
            display: none;
        }

        .lnb {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 1px;
            margin-bottom: 0;
            position: relative;
            &::before {
                content: "";
                width: 100%;
                height: 2px;
                background-color: #eeeeee;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
            &::after {
                content: "";
                width: 2px;
                height: 100%;
                background-color: #eeeeee;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
            &__item {
                width: calc(50% - 1px);
                & > a {
                    height: rem(200);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p {
                        width: 100%;
                        padding: rem(63) 0 0;
                        background-position: 50% 0;
                        text-align: center;
                    }
                }
                &-0 {
                    & > a {
                        p {
                            background-size: rem(44);
                        }
                    }
                }
                &-1 {
                    & > a {
                        p {
                            background-size: rem(40);
                        }
                    }
                }
                &-2 {
                    & > a {
                        p {
                            background-size: rem(41);
                        }
                    }
                }
                &-3 {
                    & > a {
                        p {
                            background-size: rem(40);
                        }
                    }
                }
            }
        }

        .gnb {
            display: flex;
            justify-content: center;
            padding: rem(59) 0 rem(37);
            margin-bottom: rem(50);
            border-top: none;
            &__item {
                flex: 1;
            }
        }
    }
}

@media (max-width: 725px) {
    .site-side {
        padding: rem(30) rem(20);

        &__top {
            margin-bottom: rem(30);
            .btn-close {
                margin-left: rem(-12);
            }
        }

        &__caption {
            padding: 0 rem(9);
        }

        .lnb {
            max-width: rem(320);
            margin: 0 auto;
            gap: 2px;
            &__item {
                width: calc(50% - 1px);
                & > a {
                    height: rem(160);
                    p {
                        width: 100%;
                        padding: rem(43) 0 0;
                        background-position: 50% 0;
                        font-size: rem(15);
                        text-align: center;
                    }
                }
                &-0 {
                    & > a {
                        p {
                            background-size: rem(34);
                        }
                    }
                }
                &-1 {
                    & > a {
                        p {
                            background-size: rem(30);
                        }
                    }
                }
                &-2 {
                    & > a {
                        p {
                            background-size: rem(31);
                        }
                    }
                }
                &-3 {
                    & > a {
                        p {
                            background-size: rem(30);
                        }
                    }
                }
            }
        }

        .gnb {
            padding: rem(32) 0;
            margin-bottom: rem(30);
            &__item {
                flex: 1;
                a {
                    padding: rem(8) 0 rem(8) rem(33);
                    font-size: rem(14);
                }
            }
        }
    }
}
